{{- $myConfigMap := lookup "v1" "ConfigMap" .Release.Namespace "xroot-config" -}}
{{- if not $myConfigMap -}}
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ $.Values.namespace }} 
  name: xroot-config
data:
  grid-mapfile: |
    "/DC=ch/DC=cern/OU=Organic Units/OU=Users/CN=aaarora/CN=852377/CN=Aashay Arora" aarora
    "/DC=org/DC=incommon/C=US/ST=California/O=University of California, San Diego/CN=rucio-sense.t2.ucsd.edu" cmswriter

  Authfile: |
    g /cms /store/temp/user/ a /store lr
    u cmswriter  /store/data/  a
    u = /store/user/@=/ a

  scitokens.cfg: |
    [Global]
    onmissing = passthrough
    audience = https://wlcg.cern.ch/jwt/v1/any,redir.t2.ucsd.edu
    
    [Issuer CMS]
    issuer = https://cms-auth.cern.ch/
    base_path = /
    map_subject = False
    default_user = ruciouser

  xrootd-standalone.cfg: |
    all.adminpath /var/spool/xrootd
    all.pidpath /run/xrootd
    all.role {{ $.Values.role }}
    all.manager {{ $.Values.redirector }} 1213
    all.sitename SENSE-TEST-{{ $.Values.siteID }}
    xrootd.chksum max 20 adler32

    if exec xrootd
      macaroons.secretkey /etc/xrootd/macaroon-secret
      ofs.authlib ++ libXrdMacaroons.so
      ofs.authlib ++ libXrdAccSciTokens.so
      oss.localroot /rucio
      all.export /
      xrootd.seclib /usr/lib64/libXrdSec.so
      sec.protocol /usr/lib64 gsi -certdir:/etc/grid-security/certificates \
              -cert:/etc/grid-security/xrd/xrdcert.pem \
              -key:/etc/grid-security/xrd/xrdkey.pem \
              -crl:try \
              -vomsfun:libXrdVoms.so \
              -vomsfunparms:certfmt=pem|grpopt=useall \
              -gmapopt:trymap \
              -gmapto:0

      ofs.authorize
      acc.authdb /etc/xrootd/Authfile
      xrd.timeout idle 30m
      xrd.protocol http:1094 /usr/lib64/libXrdHttp.so
      http.gridmap /etc/grid-security/grid-mapfile
      http.exthandler xrdmacaroons libXrdMacaroons.so
      http.header2cgi Authorization authz
      http.listingdeny yes
      http.desthttps yes
      http.staticpreload http://static/robots.txt /etc/xrootd/ban-robots.txt
      xrd.tls /etc/grid-security/xrd/xrdcert.pem /etc/grid-security/xrd/xrdkey.pem
      xrd.tlsca certdir /etc/grid-security/certificates
      # SENSE hack
      tpc.fixed_route 1
    fi

    {{- if eq .Values.role "manager" }}
    # SENSE Redirector plugin
    if exec xrootd
      xrootd.redirlib /opt/libRDRPI.so subnet_size=64
    fi
    {{- end }}

    # =============== Multi-user plugin ==================#
    if exec xrootd
      ofs.osslib ++ libXrdMultiuser.so
    else
      ofs.osslib libXrdMultiuser.so default
    fi
    
    # Enable the checksum wrapper
    ofs.ckslib * libXrdMultiuser.so
    
    xrootd.chksum max 2 md5 adler32 crc32
    
    # The checksum plugin that is included in the multiuser can also
    # checksum while it is writing a file.  To turn this on, uncomment the
    # following line:
    # multiuser.checksumonwrite on

    # =====================================================#

    # Debug
    pss.setopt DebugLevel 1
    #xrd.trace conn
    xrd.trace all
    xrootd.trace all
    ofs.trace all
    http.trace all
    #xrootd.trace emsg login stall redirect
    cms.trace defer files redirect stage debug
{{- end }}

